/* font-family: "Roboto", sans-serif;
font-family: "Playwrite NZ", cursive; */

h1{
    font-family: "Playwrite NZ", cursive;
    margin: 100px 0;
    font-size: 80px;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 35px;
}

:root{
    --maincolor:#4db6ad;
}

span{
    color: var(--maincolor);
}

button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #57cc99;
    color: #57cc99;
  }
button:hover {
    color: #fff;
  }
button:hover:after {
    width: 100%;
  }
button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--maincolor);
  }

#auther{
  color: var(--maincolor);
}